<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-12">
						<div class="blog-post blog-single-post">
							
							
							<div class="single-post-content">
								{{content}}
							</div>
							
						</div>
					</div>
					<!-- End Blog Post -->
					<!-- Sidebar -->
					
					<!-- End Sidebar -->
				</div>
			</div>
	    </div>